body{
    background-color: #1D2A35;
    color: #DDDDDD;
    padding: auto;
    width: 70%;
    margin: auto;
}
#box > #heading{
    font-family: "egoe UI", sans-serif;
    font-weight: lighter;
    font-size: 23pt;
}
#box > #p, div#color{
    font-family: Verdana,sans-serif;
    font-size: 15px;
}
#box> #p > span{
    font-family: Consolas,Menlo,"courier new",monospace;
    font-size: 15.75px;
    background-color: #313C46;
    color: #F39899;
}
/*Main box*/
#box > div#color{
    color: #000;
    margin-top: 70px;
}
#box > div#color > span#b1{
    background-color: #50AB6E;
    opacity: 1;
}
#box > div#color > span#b2{
    background-color: #50AB6E;
    opacity: 0.6;
}
#box > div#color > span#b3{
    background-color: #50AB6E;
    opacity: 0.3;
}
#box > div#color > span#b4{
    background-color: #50AB6E;
    opacity: 0.1;
}
.spano{
    padding: 70px;
}

