body{
    background-color: #1C2836;
    width: 70%;
    margin: auto;
}
*{
    color: #DDDDDD;
}
#value{
    padding: 20px;
}
#bgc{
    background-color: #F16045;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    font-size: 17pt;
    border-radius: 2px;
}
#bgd1> div{
    background-color: #8E4239;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    font-size: 17pt;
    border-radius: 2px;
}
div#value-1 > h2{
    font-size: 25pt; 
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: 15px;
    font-family: Verdana,sans-serif;
}
#bgd>div, 
#bdg1>div {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#example_1{
    background-color: #37434E;
    padding: 0 20px;
    padding-bottom: 11px;
    border-radius: 4px;
}
#exh{
    font-family: " segoe UI", Arial, sans-serif;
    font-size: 19pt;
    font-weight: lighter;
    padding-top: 20px;
    margin-bottom: -1px;
    padding-bottom: 20px;
}
div#button{
    margin: 20px 0;
}
div#button > a {
    background-color: #479963;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
}
div#button > a:hover{
    background-color: #3A7D5D;
}

div#box-1{
    background-color: #151E2C;
    padding: 10px 15px 0 15px;
    font-family:Consolas,Menlo,"courier new",monospace;
    font-size: 11.5pt;
    line-height: 1.5;
    border-radius: 2px;
    margin-bottom: 25px;
}
div#box-1 > .line1 > .hs, #hs{
    color: #88CCBB;
}
div#box-1 > .line1 > #h1{
    color: #F39899;
}
div#box-1 > .line1 > .style{
    color: #C5A5C5;
}
div#box-1 #write{
    color: #88C999;
}