ul.a{
    list-style-type: circle;
    list-style-position: outside;
    width: 50px;
}
ul.b{
    list-style-type: square;
    list-style-position: inside;
    width: 50px;
    border: 1px solid red;

}
ul.c{
    list-style-type: lower-roman; //upper-roman
}
ul.d{
    list-style-type: upper-alpha; //lower-alpha
}
ul.e{
    list-style-image: url('/images/sqpurple.gif');
}
