*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.dnone{
    background-color: #f7e62c;
    padding: 15px;
    display: none;

}
div.d1:hover p{
    display: block;
}
div.d2 p:first-child{
    color: red;
}
div.d2 p:first-child i{
    color: green;
    
}