/* 
combinator.html --> c_
align.html --> a_
*/
/* combinator.html */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.c_d > .nav{
    background-color: yellow;
    list-style-type: none;
    text-align: center;
}
.c_d > .nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.c_d > .nav li a{
    text-decoration: none;
    color: black;
}
.c_d > .nav li a:hover{
    color: red;
}
/* align */
.c_a{
    position: relative;
    border: 2px solid gray;
    width: 100%;
    height: 200px;
}
.c_a > .c_right > p{
position: absolute;
right: 0;
width: 300px;
border:3px solid #73ad21;
padding: 10px;
}
/* Align a_ */
div.a {
    background-color: yellow;
    height: 400px;
}
div.a > .center{
    margin: auto;
    width: 60%;
    border: 3px solid #73ad21;
    padding: 10px;
    text-align: center;
    
}
div.a .img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.a > .img> img{
    width: 40%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    display: block;
}
div.a > div.right {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgba(247, 243, 243, 0.534);
}
div.a > div.right >div.f{
    position: absolute;
    right: 0;
    width: 300px;
    border: 3px solid #73ad21;
    padding: 10px;
}
div.a > div.right >div.s{
    position: absolute;
    left: 0;
    width: 300px;
    border: 3px solid #73ad21;
    padding: 10px;
}
/* float test in .a_f */
div.a_f{
    background-color: #a9e4ee;
    width: 100%;
    height: 600px;
    padding: 10px;
}
div.a_f > div >  img{
    width: 170px;
}
div.a_f > div > .img1{
    float: right;
}
div.a_f > div > .img2{
    float: left;
}
div.a_f > div{
    border: 3px solid #4caf50;
    padding: 5px;
}
/* Center Vertically a_v */

div.a_v{
    background-color: #b9b9b9;
    width: 100%;
    height: 400px;
}
div.a_v > div.center{
    border: 3px solid orange;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 20px;
}
div.a_v > div.line{
    border: 3px solid green;
    height: 200px;
    text-align: center;
    line-height: 200px;
    margin: 30px;
}
/* For mobile size */
/* If the text has multiple lines, add the following: */
div.a_v > div.line > p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
/* Using position & transform */
div.a_t{
    background-color: #fcc3c3;
    width: 100%;
    height: 400px;
    margin: 10px;
}
div.a_t > div.center{
    position: relative;
    border: 3px solid green;
    height: 200px;
}
div.a_t > div.center > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* center using flexbox */
div.a_b{
    width: 100%;
    height: 400px;
    background-color: #beacac;
}
div.a_b > div.center{
border: 3px solid green;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}
/* Align over */
