body{
    margin: 0;
    background-color: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul.navbar{
    list-style: none;
    overflow: hidden;
    background-color: #38444d;
    

}
ul.navbar li{
    display: inline-block;
}
ul.navbar li.dropdown/*, ul.dropdown-content li._dropdown*/{
    position: absolute; /* for dropdown */
}


ul.navbar li a, .dropbtn{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.navbar li a:hover, ul.navbar .dropdown:hover .dropbtn{
    background-color: #4CAF50;
}
ul.dropdown-content li a:hover, ul.dropdown-content li._dropdown:hover ._dropbtn{
    background-color: #f1f1f1;

}

/* Work with dropdown */

ul.navbar .dropdown .dropdown-content, ul.dropdown-content li._dropdown ul._dropdown-content{
    display: none;
    /* position: absolute; */ /* why not*/
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}
ul.navbar .dropdown-content li{
    display: block;
}
ul.dropdown-content li._dropdown ul._dropdown-content li{
    display: block;
}

ul.navbar .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
ul.dropdown-content li._dropdown ul._dropdown-content li a{
 text-align: left;
}
ul.dropdown-content li._dropdown ul._dropdown-content li a:hover{
    background-color: #504e4e;
    color: #fff;
}

ul.navbar .dropdown-content a:hover{
    background-color: #f1f1f1;
}
    

ul.navbar .dropdown:hover .dropdown-content, ul.dropdown-content li._dropdown:hover ul._dropdown-content{
    display: block;
}
ul.dropdown-content li._dropdown ul._dropdown-content{
    position: absolute; /* why here */
    left: 160px;
    top: 134px;
}