body{
    margin: 0;
    background-color: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    overflow: hidden;
    background-color: #38444d;

}
li{
    /* float: left; Make list horizontal */
    display: inline-block;
}
li a, .dropbtn{
    display: inline-block;
    color: #fff;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: #4CAF50;
}

/* Work with dropdown */
.dropdown-content{
    /* display: none; */
    position: absolute; /* Make dropdown content appear  and let not overlap*/
    /* top: 20px;  for test */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* .dropdown-content li{
    display: block;
} */
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
    display: block;
}