*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1D2A35;
}

#layout{
    background-color: #fff;
}
ul.display{
    background: #333;
    margin: 10px 0 15px 0;
    list-style: none;
}
ul.display li{
    display: inline-block;
}
ul.display li a{
    display: inline-block;
    padding: 12px 15px;
    color: #fff;
    text-decoration: none;
}
ul.display li a:hover{
    background: #111;
}
.active{
    background-color: red;
}
.column{
    float: left;
    padding: 15px;
}
.body::after{
    content: "";
    display: table;
    clear: both;
}
.menu{
    width: 25%;
}
.content{
    width: 75%;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #fff;
}


.menu li:hover {
    background-color: #0099cc;
}

.footer ul.foot{
    margin: auto;
    justify-items: center;
    list-style-type: none;
    width: 100%;
    text-align: center;

    background-color: #002a38;
    
}
.footer ul.foot li{
    display: inline-block;
    padding: 12px;
}
.footer ul.foot li a{
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
.footer ul.foot li a:hover{
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);

}